*{
    margin:0;
    padding:0;
}

/* Navigation Area Start */
#navigation{
    background-image:linear-gradient(rgba(237, 135, 19, 0.993),rgba(157, 87, 8, 0.952));
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#navigation >div>ul>li{
    list-style:none;
    margin:0px 5px;
    padding:15px 0px;
    margin-left:-5px;
}

#navigation>div>ul>li>a{
    text-decoration:none;
    color:white;
    font-size:18px;
    border-right:1px solid white;
    padding:15px 20px;
    transition:0.5s;
    
}

#navigation>div>ul{
    display:flex;
    margin-right:50px;
}

#logo>h2{
    color:white;
    margin-left:50px;
}

#navigation >div>ul>li:first-child>a{
    border-left:1px solid white;
}

#navigation >div>ul>li:hover>a{
    background-color:rgb(2, 30, 58);
}

/*dropdownmenu start*/

.dropdownmenu{
    opacity:0;
    visibility:hidden;
    background-color:rgba(237, 135, 19, 0.993);
    text-align:center;
    margin-top:15px;
    width:150px;
    position:absolute;
    transition:0.5s;
    transform:scaleY(0);
    transform-origin:top center ;
    box-shadow:10px 10px 8px black;
}
.dropdownmenu>li{
    list-style:none;
    padding:10px 0;
    border-bottom:1px solid white;
} 
.dropdownmenu>li>a{
    text-decoration:none;
    color:white;
}

.dropdownmenu>li:first-child{
    border-top:1px solid white;
}

#navigation>div>ul>li:hover>.dropdownmenu{
    opacity:1;
    visibility:visible;
    transform:scaleY(1);
}

.dropdownmenu>li:hover{
    background-color:rgb(2, 30, 58) ;
}

/* dropdownmenu End */

#oneletter{
    font-size:35px;
    color:yellow;
}

/* Navigation Area End */


/* Main-area or hero-area start */

#main-header {
    text-align:center;  
    background-image:linear-gradient(rgba(0, 0, 0, 0.138),rgba(0, 0, 0, 0.45)),url("Images/tc.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:92vh;
}

.header-container{
    padding-top:200px;
    color:white;
}

.header-container>h1{
    font-size:50px;
    background-color:rgba(237, 135, 19, 0.993);
    width:29%;
    margin:auto;
    margin-bottom:20px;
    padding: 15px 25px;
    border-radius:20px;
    
}

.header-container>h5{
    font-size:22px;
    margin-bottom:50px;
    color:white;
     width:20%;
    margin:auto;
    border-radius:10px 10px;
    background-color: red;

}


.header-container>button{
    font-size:20px;
    padding:15px 20px;
    border-radius:30px 10px 30px 10px;
    margin-top:20px;
    background-color:rgba(216, 104, 6, 0);
    color:white;
    border:1px solid rgba(237, 135, 19, 0.993);
    transition:0.5s;
    cursor:pointer;
}

.header-container>button:hover{
    background-color:rgba(237, 135, 19, 0.993);

}
 
/* Solial icon start */

.socialicon>a{
    color:white;
    text-decoration:none;
}

.socialicon>a>i{
    background-color:rgba(237, 135, 19, 0.993);
    margin:10px 5px;
    padding:5px;
    border:2px solid white;
    border-radius:50%;
    width:50px;
    height:50px;
    font-size:30px;
    line-height:1.6;
    transition:0.5s;
}
.socialicon>a>i:hover{
    background-color:rgba(0, 0, 0, 0);
    border:2px solid rgba(237, 135, 19, 0.993);
    transform:rotate(360deg);
}

/* Main-area or hero-area End */

/* Main-tag start */

/* 1st-section start */

#first-container{
    display:flex;
    width:1000px;
    margin:auto;
    justify-content:space-between;
    padding:100px 0;
}

.expert{
    width:300px;
    text-align:center;
    padding:30px 10px;
    transition:0.5s;
}

.expert>i{
    font-size:50px;
}

.expert>h2{
    margin:15px 0;
}

.expert:hover{
    box-shadow:3px 3px 10px gray;
}


/* 1st-Section End */

/* 2nd-Section Start  */

.achieve>h2{
    font-size:40px;
    text-align:center;
    position: relative;
}

.achieve>h2::after {
    content: "";
    background-color: rgb(114, 12, 12);
    width: 150px;
    height: 5px;
    top: 56px;
    left: 880px;
    position: absolute;
}

.smart-area{
    display:flex;
    justify-content:space-between;
    width: 1000px;
    margin:auto;
    align-items:center;

}

.smart-area-text {
    width: 500px;
}

.smart-area-text>h2{
    margin:20px 0;
    font-size:22px;
}

.smart-area-text>h4{
    color:rgb(114, 12, 12);
    font-size:17px;

}

.smart-area-text>a{
    text-decoration:none;
    background-color:rgb(114, 12, 12);
    color:white;
    font-size:20px;
    margin:20px;
    display: inline-block;
    padding:10px 30px;
    border-radius:5px;
    transition:0.5s;
}

.smart-area-text>a:hover{
    background-color:rgb(48, 2, 2);
}

/* 2nd Section end */

/* 3rd Section Start  */

#third-section{
    background-color:whitesmoke;
}

.services-title{
    text-align:center;
    padding:40px 0 60px 0;
}

.services-title>h2{
    font-size:40px;
}

.each-services-parent{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    padding-bottom:60px;  
    grid-gap:20px;
}

.main-services{
    width:1000px;
    margin:auto;
}

.each-services{
    background-color:rgba(237, 135, 19, 0.993) ;
    text-align: center;
    padding:30px 0;
    transition:0.5s;
}

.each-services>i{
    font-size:40px;
    color:rgb(114, 12, 12) ;
}

.each-services>h3{
    margin:15px 0;
}

.each-services:hover{
    background-color:rgba(242, 130, 3, 0.793);
}

/* 3rd Section End  */

/* 4th section start  */

#fourth-section{
    background-color:white;
}

.courses-title{
    text-align:center;
    font-size:35px;
    padding:50px 0;
}

.courses-area-parent{
    display:flex;
    justify-content:space-between;
}

.courses-area-container{
    width:1000px;
    margin:auto;
    padding-bottom:100px;
}

.single-card-image{
    width:310px;
}

.single-card-image>img{
    max-width:100%;
}

.single-card{
    width:310px;
    text-align:center;
    box-shadow:5px 5px 10px gray;
}

.single-card>h3{
    margin:10px 0;
    font-size:25px;
}

.month-price{
    border-top:1px dashed gray;
    border-bottom: 1px dashed gray;
    padding:15px 0;
    margin:15px 20px;
}

.month-span1{
    font-size:25px;
}

.month-span2{
    color:gray;
}

.advance-ict{
    margin:10px 0;
    font-size: 22px;
}

.single-card>button{
    background-color:rgb(114, 12, 12);
    color:white;
    padding:10px 40px;
    border-radius:5px;
    cursor:pointer;
    transition:0.5s;
}

.single-card>button:hover{
    background-color:white ;
    color:black;
}

.single-card>a{
    text-decoration:none;
    margin:40px;
    display:inline-block;
}

/* 4th section End  */

/* 5th section Start  */

#fifth-section{
    background-color:rgb(242, 230, 207);
}

.testimonial-title{
    text-align:center;
    padding:50px 0;
}

.testo-container{
    width:1000px;
    margin:auto;
    padding-bottom:100px;
}

.testimonial-title>h2{
    font-size:35px;
    margin-bottom:10px;
}

.testimonial-title>h4{
    color:gray;
    letter-spacing:0.3em;
}

.testo-single-card-image{
    width:200px;
    border-radius:50%;
    margin-right:20px;
}

.testo-single-card-image>img{
    max-width:100%;
    border-radius:50%;
    border:1px solid red;
}

.testo-single-card{
    display: flex;
    align-items:center;
    background-color:white;
    padding:20px;
}

.testo-single-card-parent{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:25px;
}

.testo-span{
    font-size:22px;
    margin-bottom:10px;
    display: inline-block;
}

.testo-ratings{
    color: #FF9529;
}

/* 5th section End  */

/* 6th Section Start  */

#sixth-section{
    padding:80px 0;
    background-image:url("Images/parallax.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}

.parallax-items-parent{
    display:flex;
    width:1000px;
    margin:auto;
    justify-content:space-between;
    text-align:center;
    color:white;
}

.parallax-single-item i{
    font-size:40px;
}
.parallax-single-item>h2{
    font-size:40px;
    margin:20px 0;
}

/* 6th section End  */

/* Blog section Start  */

.blog-items-parent{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:25px;
}

.blog-container{
    width:1000px;
    margin:auto;
    padding-bottom:100px;
}

.blog-single-image>img{
    max-width:100%;
    height:250px;
    transition:0.5s;
}

.blog-icon{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:grid;
    place-content:center;
    text-align:center;
    color:white;
    font-size:22px;
    opacity:0;
    transition:0.5s;
}

.blog-single-image{
    position: relative;
    overflow: hidden;
}

.blog-single-image:hover .blog-icon{
    opacity:1;
    background-color:rgba(0, 0, 0, 0.415);
}


.blog-single-image:hover>img{
    transform:scale(1.6);
}



.blog-icon>i{
    font-size:40px;
    margin-bottom:20px;
}

.single-item-text{
    text-align:center;
    margin:10px 0;
}

.single-item-text>p{
    margin-top:10px;
    color:gray;
}